.recipe-form{
    width: 100vw;
    height: 100vh;
    background: rgb(46, 0, 0);
    display: flex;
    justify-content: center;
    color: rgb(245, 213, 30);
}

.input-container{
    width: 80vw;
    height: 80vh;
    position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(117, 18, 18);
    border-radius: 10px;
    margin-top: 50px;
    font-size: 25px;
    box-shadow: 10px 10px rgb(214, 214, 148)
}

.input-container input{
border-radius: 10px;
margin: 10px;
height: 25px;
width: 40vw;
align-self: center;
font-size: 18px
}

.add-btn{
    width: 120px;
    height: 25px;
    background: rgb(174, 174, 248);
    border-radius: 10px;
    font-size: 14px;
}