/* .recipe-box{
    width: 100vw;
    height: 100vh;
    background: gray;
  
}

.input-container{
    width: 80vw;
    height: 90vh;
    background: yellow;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%

} */
