.recipe-book{
    height: 100vh;
    width: 100vw;
    background: rgb(206, 115, 206);
    display: flex;
    justify-content: space-evenly;
}

.recipe-card {
    height: 45vh;
    width: 40vw;
    display: flex;
    justify-content:;
    flex-direction: column;
    background: rgb(252, 175, 188);

}
.title-container{
    height: 12vh;
    width: 30vw;
    background: rgb(66, 60, 60);
    align-self: center;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    color: rgb(255, 255, 172)
    
}
.recipe-title{
    width: 30vw;
    height: 10vh;
    background: rgb(255, 200, 255);
    border-radius: 20px;
}

/* 
@media(max-width:450px ){
    .recipe-card{
        height: 50vh;
        width: 50vw;
    }
} */


    
    .scroll_container{
    width: 30vw;
    height: 40vh;
    background: rgb(70, 7, 17);
    }