.recipe-box{
    width: 25vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    justify-content: space-around;
    background:#8C081C;
    border: 1px solid black;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 3px 3px rgb(243, 212, 129);
}

.title-box{
    width: 20vw;
    height: 8vh;
    background: #EAC8C0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 2px;
    
    
}

.recipe-card{
    width: 25vw;
    height: 30vh;
    background:#EAC8C0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;;
    border-radius: 20px;
    align-self: center;

  
}




.list{
    width: 23vw;
    height: 18vh;
    background: #8C081C;
    border-radius: 20px;
    margin-left: 1vw;
    align-self: center;
    color: yellow;

}

#recipe-img{
    width: 15vw;
    height: 25vh;
    border-radius: 10px;
    align-self: center;
    margin-top: 5px;

    
}
/* #recipe-img:hover{

} */

@media(max-width: 500px) {
    .recipe-box{
        width: 400px;
        height: 600px;
        display: flex;
        flex-direction: column;

    }
    #recipe-img{
        width: 150px;
        height: 150px;
        align-self: flex-start;
    }
    .recipe-card{
        width: 70vw;
        height: 50vh;
        align-self: center;

    }
    .list{
        width: 50vw;
        height: 20vh;
    }
}