.browse-box{
    min-width: 100vw;
    min-height: 100vh;
    background: rgb(243, 212, 129);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 4px solid rgb(255, 255, 255);
    margin:0px;
    padding: 0px
   
}



.map-recipes{
    width: 98vw;
    height: 98vh;
    background: #54110A;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
    overflow: scroll;
    border-radius: 20px;
}

@media(max-width: 500px){
    .map-recipes{
        width: 80vw;
        height: 100vh;
        display: flex;
        overflow: scroll;
    }
}

